---
title: Tags
layout: default
description: keep hungry keep foolish
header-img: "img/tag-wr.jpg"
header-img1: "img/QJ6782112308.jpg"
---

<!-- Page Header --> 
     <div style="text-align: center;width: 100%;">
          <div>
				<div style="display:inline-block;width:42%;height:600px;background-repeat: no-repeat;background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
				
				</div>
				<div style="display:inline-block;width:42%;height:600px;background-repeat: no-repeat;background-image: url('{{ site.baseurl }}/{% if page.header-img1 %}{{ page.header-img1 }}{% else %}{{ site.header-img1 }}{% endif %}')">
				<div>
          </div>
     </div>

 
