<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title> 
    <link rel="stylesheet" href="../css/Clock.css">
</head>

<body>
    <canvas id="drawDial">A drawing of something</canvas>
    <canvas id="backGround"></canvas>
    <canvas id="fontUp"></canvas>
    <canvas id="fontDown"></canvas>
    
    <script src="../../js/jquery.min.js"></script>
    <script src="../js/Clock.js"></script>
</body>

</html>